each item in result.data
  .course-li
    a(href="")
      .course-sup
        img(src=item.thumb_url)
      .course-sub
        h1=item.goods_name
        .sub
          .course-count
            figure
            span #{item.pay_num}人已购买
          .course-price ￥#{item.goods_price}元
if (item.pay_type && item.pay_type.some((val) => { return +val === 1 }))
  span #{item.goods_price == '0.00' ? '免费' : item.goods_price + '元'}